In [ ]:
#set
#duplicate
#union,intersection,diffrence,symmetric diffrence

In [1]:
#arithmetic operations
set1={1,2,3}
set2={3,4,5}

print(set1.union(set2))    #will combine both the sets and remove any duplicate value

{1, 2, 3, 4, 5}

In [3]:
print(set1.intersection(set2))    #will give the comman element/value

{3}

In [8]:
print(set1.difference(set2))      #will give all the values of the first set after removing the elementes that are occuring in set 2

{1, 2}

In [6]:
print(set1.symmetric_difference(set2))    #will give the elementes that are not repeated

{1, 2, 4, 5}

In [10]:
#loops(when its required to run the block of code multiple times)
#for loop
#while loop

#for loop
list1=[1,2,3,4]
for i in list1:
    print(i)

1
2
3
4

In [11]:
for i in list1:
    print(2*i)

2
4
6
8

In [12]:
#range(5)------0,1,2,3,4
#range(9)-----0,1,2,3,4,5,6,7,8
for i in range(2,11):                           #FOR i in iterabledatatype:
    print(2*i)

4
6
8
10
12
14
16
18
20

In [20]:
fruits=['apple','banana','cherry']
for fruit in fruits:
        print(fruit)

apple
banana
cherry

In [42]:
for i in range(1,11):
    print(f'5 x {i} =',5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [46]:
tuple1=(1,2,3,4,5,6)
for i in tuple1:
    print(i*10)

10
20
30
40
50
60

In [49]:
city='jaipur'
for alphabet in city:
    print(alphabet)

j
a
i
p
u
r

In [50]:
my_dictionary1={'name':'kartik','city':'jaipur','pincode':302018}
for keys in my_dictionary1:
    print(keys)

name
city
pincode

In [52]:
for values in my_dictionary1.values():
    print(values)

kartik
jaipur
302018

In [53]:
for key,values in my_dictionary1.items():
    print(f"key:{key}, values:{values}")

key:name, values:kartik
key:city, values:jaipur
key:pincode, values:302018