In [9]:
#sets
#Unordered and immutable collection of items or elementes


#list and tuple----ordered
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [ ]:
#set {1,2,3,2}

#it starts with curly braces

#it does not allow duplicate values

#Use cases
#it helps in removing duplicate values

#Union, intersection and diffrence(mathamatical operation)

In [1]:
my_set={1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [11]:
my_set2={1,2,3,4,5,4,6,4,6,4,}
print(my_set2)

{1, 2, 3, 4, 5, 6}

In [12]:
fruits={'apple','banana','guava'}
print(fruits)

{'apple', 'guava', 'banana'}

In [13]:
fruits={'apple','banana','guava','apple'}
print(fruits)

{'apple', 'guava', 'banana'}

In [14]:
fruits={'apple','banana','guava','APPLE','Apple'}  #uppercase lowercase
print(fruits)

{'apple', 'banana', 'Apple', 'guava', 'APPLE'}

In [4]:
a=set('12334535677')
print(a)

{'6', '7', '4', '2', '1', '3', '5'}

In [15]:
#{}
#set() constructor

#fruits=set()
letters=set('hello')
print(letters)

{'o', 'l', 'e', 'h'}

In [16]:
a=set('jaipur')
print(a)

{'p', 'u', 'j', 'a', 'r', 'i'}

In [17]:
a=set('1234567890987767')
print(a)

{'6', '7', '0', '4', '2', '1', '3', '9', '8', '5'}

In [18]:
empty_set=set()
print(type(empty_set))

<class 'set'>

In [19]:
#set operations
#add
#delete



#add()

numbers={1,2,3}
numbers.add(4)
print(numbers)


#set_name.add(element to be added)

{1, 2, 3, 4}

In [42]:
#remove
#remove()
#set_name.remove(element to be removed)
numbers.remove(1)
print(numbers)

{4}

In [38]:
numbers.remove(5)

KeyError: 5

In [39]:
#discard
#set_name.discard(6)
numbers.discard(6)
print(numbers)

{1, 4}

In [40]:
#remove and discard method both are used to remove the elements from the set but the discard
#method does not allow any error if the specific element is not found

In [2]:
#pop method
numbers.pop()

NameError: name 'numbers' is not defined

In [3]:
#membership checking
numbers={1,2,3,4,5,6,7}
print(2 in numbers)

True

In [45]:
print(9 in numbers)

False

In [46]:
#clearing the set
#clear()
#set_name.clear()

#clear method removes all the elements from the set but the structure of the set is not deleted

numbers.clear()

In [47]:
print(numbers)

set()

In [48]:
#deleting the set
#del keyword
#del set_name

a={1,2,3}
del a

In [49]:
print(a)

NameError: name 'a' is not defined