In [3]:
#loops
#for loop
#while loop
#nested loop

for i in range(1,11):
    for j in range(1,11):
        print(f'{i},{j}')

1,1
1,2
1,3
1,4
1,5
1,6
1,7
1,8
1,9
1,10
2,1
2,2
2,3
2,4
2,5
2,6
2,7
2,8
2,9
2,10
3,1
3,2
3,3
3,4
3,5
3,6
3,7
3,8
3,9
3,10
4,1
4,2
4,3
4,4
4,5
4,6
4,7
4,8
4,9
4,10
5,1
5,2
5,3
5,4
5,5
5,6
5,7
5,8
5,9
5,10
6,1
6,2
6,3
6,4
6,5
6,6
6,7
6,8
6,9
6,10
7,1
7,2
7,3
7,4
7,5
7,6
7,7
7,8
7,9
7,10
8,1
8,2
8,3
8,4
8,5
8,6
8,7
8,8
8,9
8,10
9,1
9,2
9,3
9,4
9,5
9,6
9,7
9,8
9,9
9,10
10,1
10,2
10,3
10,4
10,5
10,6
10,7
10,8
10,9
10,10

In [ ]:
#use case

#to work multi dimensional data
#to find out possible combinations

In [4]:
l1=[1,2,3,4,5]
l2=[1,2,3,4,5]
for element1 in l1:
    for element2 in l2:
        print(f'L1---{element1},L2----{element2}')

L1---1,L2----1
L1---1,L2----2
L1---1,L2----3
L1---1,L2----4
L1---1,L2----5
L1---2,L2----1
L1---2,L2----2
L1---2,L2----3
L1---2,L2----4
L1---2,L2----5
L1---3,L2----1
L1---3,L2----2
L1---3,L2----3
L1---3,L2----4
L1---3,L2----5
L1---4,L2----1
L1---4,L2----2
L1---4,L2----3
L1---4,L2----4
L1---4,L2----5
L1---5,L2----1
L1---5,L2----2
L1---5,L2----3
L1---5,L2----4
L1---5,L2----5

In [6]:
str1='jaipur'
str2='Delhi'
for i in str1:
    for j in str2:
        print(f'str1 alphabet {i}, str2 alphabet {j}')

str1 alphabet j, str2 alphabet D
str1 alphabet j, str2 alphabet e
str1 alphabet j, str2 alphabet l
str1 alphabet j, str2 alphabet h
str1 alphabet j, str2 alphabet i
str1 alphabet a, str2 alphabet D
str1 alphabet a, str2 alphabet e
str1 alphabet a, str2 alphabet l
str1 alphabet a, str2 alphabet h
str1 alphabet a, str2 alphabet i
str1 alphabet i, str2 alphabet D
str1 alphabet i, str2 alphabet e
str1 alphabet i, str2 alphabet l
str1 alphabet i, str2 alphabet h
str1 alphabet i, str2 alphabet i
str1 alphabet p, str2 alphabet D
str1 alphabet p, str2 alphabet e
str1 alphabet p, str2 alphabet l
str1 alphabet p, str2 alphabet h
str1 alphabet p, str2 alphabet i
str1 alphabet u, str2 alphabet D
str1 alphabet u, str2 alphabet e
str1 alphabet u, str2 alphabet l
str1 alphabet u, str2 alphabet h
str1 alphabet u, str2 alphabet i
str1 alphabet r, str2 alphabet D
str1 alphabet r, str2 alphabet e
str1 alphabet r, str2 alphabet l
str1 alphabet r, str2 alphabet h
str1 alphabet r, str2 alphabet i

In [23]:
#control statementes
#break

#it helps to break  the loop prematurely(time se pehle)
for i in range(1,6):
    if i ==3:
        break
    print(i)

1
2

In [11]:
#else
#execute after the loop is finished
for i in range(1,6):
    print(i)
else:
    print('loop finished')

1
2
3
4
5
loop finished

In [22]:
for i in range(1,6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [26]:
#pass
#as it is 
#placeholder


for i in range(1,6):
        if i == 3:
            pass
        print(i)

1
2
3
4
5

In [ ]:
#infinite loops
#while True:

#print('infinite loop')

In [27]:
#enumerate function
#when the values are required along with their corresponding index places

fruits=['apple','banana','cherry']
for index,fruit in enumerate(fruits):
    print(index,fruit)

0 apple
1 banana
2 cherry

In [29]:
#accessing key and values

d1={'name':'kartik','class':12,'rollnumber':32}
for key,value in d1.items():
    print(key,value)

name kartik
class 12
rollnumber 32

In [32]:
#creating list,dictionary and set using loops
#list comprehension
#dictionary comprehension
#set comprehension

#list comp

l1_squares=[x**2 for x in range(1,11)]
print(l1_squares)


l1_normal=[x for x in range(1,11)]
print(l1_normal)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#dict comp

d1_squares={x: x**2 for x in range(1,11)}
print(d1_squares)

d1_6={x: x*6 for x in range(1,11)}
print(d1_6)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 6, 2: 12, 3: 18, 4: 24, 5: 30, 6: 36, 7: 42, 8: 48, 9: 54, 10: 60}

In [5]:
#set comp
set_squares={x**2 for x in range(1,11)}
print(set_squares)

set_10={x*10 for x in range(1,11)}
print(set_10)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}